@import "nes.css/css/nes.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invisible-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

@font-face {
  font-family: "PressStart2P";
  src: url("assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "2ndPixelus";
  src: url("assets/fonts/ZF_2ndPixelus.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "2ndPixelus";
  font-size: 24px;
}

/* #stage-1 {
  width: 100vw;
  height: 100vh;
  display: block;
} */

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-slide-left {
  animation: slide-left 20s linear infinite;
}

.animate-slide-right {
  animation: slide-right 20s linear infinite;
}

.sliding-bar {
  display: flex;
  width: calc(200%); /* Enough space for duplicated content */
  height: 100%;
}

.sliding-bar img {
  height: 100%;
  flex-shrink: 0;
  width: auto; /* Maintain aspect ratio */
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Backup for older browsers */
  -ms-interpolation-mode: nearest-neighbor; /* For IE */
}

.bg-scroll {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
